<!-- Used to show and edit a person's attributes -->
<div class="container py-5">
    <div class="card shadow-sm" style="max-width: 600px; margin: auto;">
        <div class="card-header bg-primary text-white">
            <h4>Person Profile</h4>
        </div>
		<div class="card-body">
		{{range .ATTRIBUTES}}
			{{template "partial" .}}
		{{end}}
    </div>
</div>
