 <div class="container justify-content-left">
    <h2>{{ .Title }}</h2>
      <h2>Welcome {{ .Name }}!</h2>
      <p>
        The sidebar is always hidden by default and can be opened with the hamburger button above.
      </p>
      <p>
        The header now includes a user profile dropdown with quick access to key account options.
      </p>
</div>
