<h4> People </h4>
<div class="table-scroll">
<table class="table table-striped table-bordered table-hover  w-auto">

	<thead>
		<tr>
			<th class="sticky-header" scope="col">Name</th>
			<th class="sticky-header" scope="col">Cell</th>
			<th class="sticky-header" scope="col">Del</th>
		</tr>
	</thead>
	<tbody id="person-table-body">
		{{ range .People }}
			{{ template "person_row" . }}
		{{ end }}
	</tbody>
</table>
</div>