{{ define "person_update_partial" }}
<div id="{{.DIV_ID}}" class="form-row-grid mb-1">
	<label for="{{.DIV_ID}}-input" class="form-label fw-semibold mb-0 pe-1">
		{{.DIV_ID}}
	</label>

	<div>
		<form
			hx-post="{{.HX_URL}}"
			hx-trigger="blur changed delay:200ms"
			hx-target="#{{.DIV_ID}}"
			hx-swap="outerHTML"
		>
		<input
			id="{{.DIV_ID}}-input"
			name="{{.DIV_ID}}"
			type="text"
			
			value="{{ .VALUE }}"
			class="form-control form-control-sm py-0 {{ if .ERROR }}is-invalid{{ end }}"
			required required minlength="5" maxlength="40"
			autofocus

			hx-get="{{.HX_URL}}/esc"
			hx-trigger="keyup[key=='Escape']"
			hx-target="#{{.DIV_ID}}"
			hx-swap="outerHTML"

			_="
			on focus
			remove .is-invalid from me
			remove .invalid-feedback from the next <div/>
			"
		>
		{{ if .ERROR }}
			<div class="invalid-feedback d-block mt-1">
				{{ .ERROR }}
			</div>
		{{ end }}
		</form>

	</div>
</div>
{{ end }}